name: Publish

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/publish.yml'
      - 'package*.json'
      - 'tsconfig.json'
      - 'searxng/**'
      - 'src/**'
      - 'Dockerfile'
      - 'wrangler.json*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ inputs.environment || github.ref_name }}
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment || github.ref_name }}
      url: https://${{ (inputs.environment || vars.ENVIRONMENT) != 'production' && format('{0}.', (inputs.environment || vars.ENVIRONMENT)) || '' }}search.demosjarco.dev
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - run: curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
      - run: sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu $(lsb_release -cs) stable"
      - run: sudo apt update
      - uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # v1.6.0
        with:
          packages: docker-ce
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: lts/*
          check-latest: true
          cache: 'npm'
      - run: npm ci
      - run: echo "wrangler_version=$(npm ls wrangler --depth=0 --json | jq -r '.dependencies.wrangler.version')" >> $GITHUB_OUTPUT
        id: npm_wrangler_version
      - name: Set secrets in settings.yml
        run: |
          sed -i "s|cf_account_id: .*|cf_account_id: \"${{ secrets.CF_ACCOUNT_ID }}\"|" searxng/settings.yml
          sed -i "s|cf_ai_api: .*|cf_ai_api: \"${{ secrets.API_CF_API_TOKEN }}\"|" searxng/settings.yml
          sed -i "s|api_key: 'CF_COMMUNITY_KEY'|cf_ai_api: \"${{ secrets.CF_COMMUNITY_KEY }}\"|" searxng/settings.yml
      - uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        id: wrangler
        with:
          wranglerVersion: ${{ steps.npm_wrangler_version.outputs.wrangler_version }}
          apiToken: ${{ secrets.WORKER_DEPLOY_CF_API_TOKEN }}
          accountId: ${{ secrets.CF_ACCOUNT_ID }}
          vars: |
            CF_ACCOUNT_ID
            GIT_HASH
          secrets: |
            CF_API_TOKEN
        env:
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
          GIT_HASH: ${{ github.sha }}
          CF_API_TOKEN: ${{ secrets.API_CF_API_TOKEN }}
          CF_COMMUNITY_KEY: ${{ secrets.CF_COMMUNITY_KEY }}
